#activities > h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.activity-list {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.activity-row {

  --row-gap: 30px;

  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  gap: var(--row-gap);
  width: calc(100% / 4);
}

.activity-card {
  --title-height: 50px;
  --body-height: calc(100% - 50px);

  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(218, 218, 218);
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.activity-card.sm {
  height: calc(40% - var(--row-gap) / 2);
}

.activity-card.md {
  height: calc(60% - var(--row-gap) / 2);
}

.activity-card img {
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: var(--body-height);
}

.activity-card-title {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: var(--title-height);
  font-weight: 900;
  margin: 0;
}
