.hotel-card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #dedcdc;
  width: calc((100% -  24px * 4) / 3);
  color: inherit;
  text-decoration: none;
}

.hotel-card .thumbnail {
  width: 100%;
  min-height: 6vw;
  max-height: 8vw;
  object-fit: cover;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
}

.hotel-card .content {
  margin-top: 10px;
  margin-left: 20px;
}

.hotel-card .content > h4 {
  margin: 0;
}

.hotel-card .content > p {
  margin: 0;
}

.hotel-card .content .hotel-score {
  margin-top: 10px;
  color: #f2f2f2;
}

.hotel-card .content .hotel-score .active {
  color: #0065fc;
}
