#housing {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;

	margin-top: 20px;
}

/* Phone screen */
@media (max-width: 767px) {
	.most-popular {
		color: purple;
		justify-self: flex-end;
		margin-bottom: 20px;
		width: 100%;
	}

	.housing-list {
		width: 100%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.most-popular {
		color: green;
		justify-self: flex-end;
		margin-top: 20px;
	}
}

/* Computer screen */
@media (min-width: 992px) {
	.most-popular {
		color: red;
		justify-self: flex-end;
		width: 30%;
	}

	.housing-list {
		width: 60%;
	}
}

.most-popular-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}
