.header {
	width: 100vw;
	height: 100px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.header .logo {
	padding: 30px;
}

.header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 25%;
}

.header nav .nav-item {
	height: 100%;
	display: flex;
	align-items: center;
}

.header nav .nav-link {
	text-decoration: inherit;
	color: inherit;
}

.header nav .nav-item.active {
	border-top: 2px solid #0065fc;
	color: #0065fc;
}
