.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .logo {
  width: auto;
  height: 60px;
  padding-left: 30px;
}

.header nav {
  width: 25%;
  height: 100px;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header nav .nav-item.active {
  border-top: 4px solid #0065fc;
  color: #0065fc;
}

.nav-item:hover {
  border-top: 4px solid #0065fc;
}
